

body{
  align: center
  font-family: sans-serif;
  background-color: #d3d3d3;
}

h1,h2 {
  color:white;
  background:#828fee;
  margin-left:20px;
  font-family: sans-serif;}
p {margin-left: 20px}



#Curriculum {
  color:2f4f4f;
  font-size:60px
}
