

body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px
  font-family:sans-serif;
  background-color: #d3d3d3;
}

h1,h2 {
  color:#00000;
  background:#828fee;
  background-position: 0px;
  margin-lef:20px;
  font-family: sans-serif;}
p {margin-left: 20px}



#Curriculum {
  color:#2F4F4F;
  font-size:60px
}
