<style>

body{font-family: sans-serif;}

h1,h2 {
  color:yellow;
  background:#828fee;
  margin-left:20px;
  font-family: sans-serif;}
p {margin-left: 20px}



#Curriculum {
  color:red;
  font-size:60px
}
